@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap');

/* ===============
variables
================ */

$primary: hsl(172, 67%, 45%);
$dark-cyan__ligt: hsl(184, 14%, 56%);
$dark-cyan__dark: hsl(186, 14%, 43%);
$light-cyan__light: hsl(189, 41%, 97%);
$light-cyan__dark: hsl(185, 41%, 84%);
$very__dark-cyan: hsl(183, 100%, 15%);
$white: hsl(0, 0%, 100%);
$pad1: 1.5em;
$pad2: 0.5em 0;
$border-radius1: 15px;
$border-radius2: 5px;
$input-font: 24px;



body {
  background-color: $light-cyan__dark;
  font-family: 'Space Mono', monospace;
  box-sizing: border-box;

}

main {
  background-color: $white;
  max-width: 900px;
  margin: 0 auto;
  padding: 2em;
}

/* ===============
typography
================ */

h1 {
  text-align: center;
  color: $dark-cyan__dark;
  text-transform: uppercase;
  font-size: 1.8em;
  padding-top: 2em;
}

p {
  display: inline-block;
}


button {
  background-color: $very__dark-cyan;
}

.result__container {
  background-color: $very__dark-cyan;
}

.amount {
  color: $white;
}

/* ===================
input styles
==================== */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


input {
  color: $very__dark-cyan;
  background-color: $light-cyan__light;
  border-style: none;
  font-size: $input-font;
  padding: .2em;
  width: 100%;
}

img {
  position: absolute;
}


@media screen and (min-width: 600px) {
  main {
    display: flex;
  }

  .result__container {
    width: 50%;
  }

  .input-container {
    width: 50%;
  }
}