@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

$primary: hsl(172, 67%, 45%);
$dark-cyan__ligt: hsl(184, 14%, 56%);
$dark-cyan__dark: hsl(186, 14%, 43%);
$light-cyan__light: hsl(189, 41%, 97%);
$light-cyan__dark: hsl(185, 41%, 84%);
$very__dark-cyan: hsl(183, 100%, 15%);
$white: hsl(0, 0%, 100%);
$pad1: 1.5em;
$pad2: 0.5em 0;
$border-radius1: 15px;
$border-radius2: 5px;
$input-font: 24px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

h1 {
  text-align: center;
  padding: 1.4em;
  letter-spacing: 0.4em;
  font-size: 1.3rem;
  line-height: 1.5em;
  text-transform: uppercase;
  color: $dark-cyan__dark;
  font-weight: 700;
}

main {
  background-color: $white;
  padding: 1.7em;
  border-radius: $border-radius1;
  min-height: 0%;
}

.icon-container {
  position: relative;
  padding: 0.6em;
  input {
    background-color: $light-cyan__light;
  }
  img {
    position: absolute;
    left: 1rem;
    pointer-events: none;
    top: 3rem;
  }
}

label {
  font-size: 1rem;
  color: $dark-cyan__ligt;
  position: relative;
  display: inline-block;
  padding-bottom: 0.8em;
}

input {
  background-color: $light-cyan__light;
  border: none;
  font-size: $input-font;
  border-radius: $border-radius2;
  border-style: none;
  padding: 0.3em;
  padding-right: 0.7em;
  color: $very__dark-cyan;
  width: 100%;
  font-weight: 700;
  margin-bottom: 1em;
  &:focus {
    outline: solid 1px;
    border-color: #719ece;
  }
  &::placeholder {
    color: $light-cyan__dark;
  }
}

body {
  background-color: $light-cyan__dark;
}

button {
  background-color: $very__dark-cyan;
  color: white;
  border-radius: $border-radius2;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  width: 100%;
  padding: 0.5em;
  &:hover {
    background-color: $light-cyan__dark;
    color: $very__dark-cyan;
    cursor: pointer;
  }
}

.result__container {
  background-color: $very__dark-cyan;
  padding: $pad1;
  border-radius: $border-radius1;
  .inner-result__container {
    padding: $pad2;
    display: flex;
    justify-content: space-between;
    div {
      display: block;
    }
    &:first-child {
      padding-top: 1em;
      padding-bottom: 1em;
    }
    &:nth-child(2) {
      padding-bottom: 2em;
    }
  }
}

.amount {
  color: $white;
  margin-bottom: 5px;
}

.person {
  color: $dark-cyan__ligt;
  align-items: center;
}

.number {
  color: $primary;
  font-size: 2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  .warning {
    visibility: hidden;
  }
}

#reset-button {
  background-color: $primary;
}

.active {
  background-color: $primary;
  color: $very__dark-cyan;
}